* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
  text-decoration: none;
  scroll-behavior: smooth;
  list-style: none;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(0, 0, 0);
  position: fixed;
  width: 100%;
  gap: 3rem;
  padding: 1.5rem 1.5rem;
  z-index: 1;
}

.nav-links {
  display: flex;
  gap: 3rem;
}

li a {
  position: relative;
  color: white;
  font-weight: 300;
}

li a::before {
  position: absolute;
  content: '';
  width: 0;
  left: 0;
  height: 2px;
  top: 25px;
  transition: 0.3s ease-in-out;
  background: rgb(240, 239, 239);
}

li a:hover::before {
  width: 100%;
}

.logo {
  font-size: 1.3rem;
  font-weight: 300;
  text-wrap: nowrap;
  transition: 0.3s ease-in-out;
}