* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
  text-decoration: none;
  scroll-behavior: smooth;
  list-style: none;
}

header {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(0, 0, 0);
  position: fixed;
  width: 100%;
  gap: 3rem;
  padding: 1.5rem 1.5rem;
  z-index: 1;
}

.nav-links {
  display: flex;
  gap: 3rem;
}

li a {
  position: relative;
  color: white;
  font-weight: 300;
}

li a::before {
  position: absolute;
  content: '';
  width: 0;
  left: 0;
  height: 2px;
  top: 25px;
  transition: 0.3s ease-in-out;
  background: rgb(240, 239, 239);
}

li a:hover::before {
  width: 100%;
}

.logo {
  font-size: 1.3rem;
  font-weight: 300;
  text-wrap: nowrap;
  transition: 0.3s ease-in-out;
  /*margin-right: auto;*/
}

/*HERO STARTS HERE*/
.hero{
  width: 100%;
  height: 100vh;
  background-image: url(images/desk_laptop.avif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /*COOL NEW WAY TO MAKE AN OVERLAY*/
  border-image-source: linear-gradient(hsla(240, 64%, 36%, 0.3),hsla(267, 50%, 26%, 0.455));
  /*border-style: solid;
  border-width: 10px;*/
  border-image-slice: fill 1;
}

.hero-container {
  margin: 0 auto;
  width: 90%;
  height: 100%;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro h1 {
  color: white;
  font-size: 2.5rem;
  
}

.intro h2 {
  color: white;
  font-size: 3rem;
  overflow: hidden;
  white-space: nowrap;
  border-right: 1px solid;
  animation: typing 3s steps(20) forwards,
  blink 1s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
/* END OF HERO */

.about-container {
  margin: 0;
  padding: 30px;
  min-height: 800px;
  width: 100%;
  display: flex;
  border: solid 5px black;
  justify-content: space-evenly;
  align-items: center;
}

.img-info {
  border: solid 5px black;
  
  height: 70%;
  width: 80%;
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1em;
  grid-template-areas:
  "box1 box2 box3"
  "box4 box4 box3";
  /*justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;*/
}

#box1 {
  /*flex-grow: 1;*/
  overflow: hidden;
  
}

img {
  width: 100%;
  height: 100%;
}

#box2 {
  /*flex-grow: 2;*/
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content:space-around;
}

#box3 {
  /*flex-grow: 3;*/
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}

h4{
  font-size: 1.5rem;;
}
.box {
  background-color: #0071ff;
  border: solid 1px black;
  /*padding: 2rem;*/
  text-align: center;
  color: white;
}