* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
  text-decoration: none;
  scroll-behavior: smooth;
  list-style: none;
}

header {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(0, 0, 0);
  position: fixed;
  width: 100%;
  gap: 3rem;
  padding: 1.5rem 1.5rem;
  z-index: 1;
}

.nav-links {
  display: flex;
  gap: 3rem;
}

li a {
  position: relative;
  color: white;
  font-weight: 300;
}

li a::before {
  position: absolute;
  content: '';
  width: 0;
  left: 0;
  height: 2px;
  top: 25px;
  transition: 0.3s ease-in-out;
  background: rgb(240, 239, 239);
}

li a:hover::before {
  width: 100%;
}

.logo {
  font-size: 1.3rem;
  font-weight: 300;
  text-wrap: nowrap;
  transition: 0.3s ease-in-out;
}

/*HERO STARTS HERE*/
.hero{
  width: 100%;
  height: 100vh;
  background-image: url(images/desk_laptop.avif);
  /*background: linear-gradient(rgba(44, 44, 44, 0.1), rgba(29, 28, 28, 0.1));*/
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-container {
  margin: 0 auto;
  width: 90%;
  height: 100%;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro h1 {
  color: white;
  font-size: 2.5rem;
  
}

.intro h2 {
  color: white;
  font-size: 3rem;
  overflow: hidden;
  white-space: nowrap;
  border-right: 1px solid;
  animation: typing 3s steps(20) forwards,
  blink 1s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}